<div class="alert alert-secondary mt-4">
    <span class="oi oi-warning me-2" aria-hidden="true"></span>
    <strong>@Title</strong>

    <span class="text-nowrap">
        No quiz found
    </span>
</div>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string? Title { get; set; }
}
